<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">
		  
		<bean id="MainPageListAction" class="cn.com.ite.hnjtamis.mainpage.all.MainPageListAction" scope="prototype" >
		    <property name="service" ref="mainpageServer" />
		    <property name="coursewareService" ref="coursewareService" />
		</bean>
		<!--  
		<bean id="PersonalRateProgressFormAction" class="cn.com.ite.hnjtamis.personal.rateprogress.PersonalRateProgressFormAction" scope="prototype" >
		    <property name="service" ref="personalrateprogressServer" />
		</bean>
		-->
		<bean id="mainpageServer" class="cn.com.ite.hnjtamis.mainpage.all.MainPageServiceImpl" scope="prototype">
		    <property name="dao" ref="mainpageDao" />
		    
		</bean>
		<bean id="mainpageDao" class="cn.com.ite.eap2.core.hibernate.HibernateDefaultDAOImpl" scope="prototype">
		    <property name="template" ref="template" />
		    <property name="pagingHandler" ref="oraclePagingHandler"/>
		    <property name="entityClass" value="cn.com.ite.hnjtamis.personal.domain.PersonalRateProgress"/>
		    <property name="hqlMap">
		        <map>
		            <entry key="queryCourseware">
		            <value>
		            <![CDATA[
		             	from Courseware t where t.isDel=0 and t.isDisable=0 
		             	order by t.creationDate desc
		            ]]></value>
		            </entry>
		            
		            <entry key="queryTalentreg">
		            <value>
		            <![CDATA[
		             	from TalentRegistration t where t.isDel=0 and t.isAudited=1 
		             	order by t.creationDate desc
		            ]]></value>
		            </entry>
		            
		            <entry key="querySysaffiche">
		            <value>
		            <![CDATA[
		             	from SysAffiche t where (exists(
		            		select 1 from SysAfficheIncepter tt where tt.sysAffiche.saId = t.saId
		            			and tt.incepterType = '1' ) or not exists(
		            		select 1 from SysAfficheIncepter tt where tt.sysAffiche.saId = t.saId ))
		            	and (t.relationType not in('exmpublic','themeAudit','themeAuditFin','exam') or t.relationType  is null)
		            	and  t.sendTime+t.deadline>=sysdate
		            	order by t.sendTime desc,t.saId desc
		            ]]></value>
		            </entry>
		            
		            
		            
		       </map>
		   </property>
		   <!-- select * from V_MP_ALL_PERSONPROGRESS   -->
		   <property name="sqlMap">
		        <map>
		        	<entry key="querySqlPersonprogress">
		            <value>
		            <![CDATA[
		             	select et.employee_name as personname,
					       substr(ex.public_time,0,10)  as datetime,
					       ex.exam_name as contents,
					       decode(o.organ_alias,null,o.organ_name,o.organ_alias) as organname
					  from exam_user_testpaper et, exam ex, exam_arrange ea,employee e,dept d,organ o
					 where et.exam_id = ex.exam_id
					   and ex.exam_arrange_id = ea.exam_arrange_id
					   and ea.exam_property = '10'
					   and et.pass_state = 'T'
					   and et.public_time is not null
					   and et.employee_id = e.employee_id
					   and e.dept_id = d.dept_id
					   and d.organ_id = o.organ_id
					 order by ex.public_time desc
		            ]]></value>
		            </entry>    
		        </map>
		   </property>
		</bean>
</beans>