<?xml version="1.0" encoding="UTF-8"?>
<web-app>
  <display-name>hnjtamis</display-name>
  <context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>hnjtamis</param-value>
	</context-param>
  <welcome-file-list>
    <welcome-file>main.jsp</welcome-file>
  </welcome-file-list>
  <!-- 日志监听 -->
  <listener>
		<listener-class>
			org.springframework.web.util.Log4jConfigListener
		</listener-class>
  </listener>
  <!-- spring配置加载 -->
  <context-param>
     <param-name>contextConfigLocation</param-name>
     <param-value>/WEB-INF/spring-config.xml,classpath*:**/spring-*.xml</param-value>
  </context-param>
  <!--struts配置加载-->
  <context-param>
     <param-name>configProvidersPathPattern</param-name>
     <param-value>../struts-config.xml,classpath*:**/struts-*.xml</param-value>
  </context-param>
  <!--spring环境监听-->
  <listener>
     <listener-class>cn.com.ite.eap2.core.spring.EapContextLoaderListener</listener-class>
  </listener>
 <!--考试数据定时处理--> 
  <listener>
		<listener-class>cn.com.ite.hnjtamis.exam.online.task.TimerThread</listener-class>
	</listener>
  <!--考试文件过滤器-->
  <filter>
	  	<filter-name>onlineFileFilter</filter-name>
	  	<filter-class>cn.com.ite.hnjtamis.exam.online.filter.OnlineFileFilter</filter-class>
  </filter>
  <filter-mapping>
	 <filter-name>onlineFileFilter</filter-name>
	 <url-pattern>/online/*</url-pattern>
  </filter-mapping>
  <!--权限过滤器-->
  <filter>
		<filter-name>popdemFilter</filter-name>
		<filter-class>
			cn.com.ite.eap2.module.power.login.PepdomFilter
		</filter-class>
		<init-param>
			<param-name>noAccessUrls</param-name>
			<param-value>/index.jsp,/modules/baseinfo/Affiche.js,
				/modules/hnjtamis/online/examineeLogin/online.jsp,
				/base/ext/ext-all.js,
				/online.html,
				/modules/hnjtamis/online/examineeLogin/ThemeBase.js,
				/modules/hnjtamis/online/examineeLogin/Theme.js,
				/onlineExam/examForOnlineListAction!exam.action,
				/onlineExam/fkThemeShowForOnlineListAction!fkThemeShow.action,
				/onlineExam/fkThemeInExamThemeShowForOnlineListAction!fkThemeInExamThemeShow.action,
				/onlineExam/listForOnlineListAction!list.action,
				/onlineExam/findExamIntickeForOnlineListAction!findExamInticke.action,
				/onlineExam/findExamForOnlineListAction!findExam.action,
				/main.jsp,
				/mainpage/listForMainPageListAction!list.action,
				/mainpage/coursewareForMainPageListAction!courseware.action,
				/mainpage/talentregForMainPageListAction!talentreg.action,
				/mainpage/sysafficheForMainPageListAction!sysaffiche.action,
				/mainpage/personprogressForMainPageListAction!personprogress.action,
				/mainpage/writepicForMainPageListAction!writepic.action,
				/mainpage/queryShareDocumentLibForMainPageListAction!queryShareDocumentLib.action,
				/baseinfo/affiche/outputFileForAfficheFormAction!outputFile.action,
				/personal/mainpage/listForPersonalMainPageListAction!list.action,
				/modules/hnjtamis/jobstandardEx/StandardTerms.js,
				/modules/hnjtamis/jobstandardEx/JobUnionStandard.js,
				/modules/hnjtamis/base/theme/Theme.js,
				/modules/hnjtamis/testpaper/Testpaper.js,
				/modules/hnjtamis/base/themebank/ThemeBank.js,
				/modules/hnjtamis/base/exampublicuser/ExamPublicUser.js,
				/modules/hnjtamis/documentLib/DocumentLib.js,
				/mainPageEx/listForMainExListAction!list.action,
				/onlineExam/examFastIndexUserMoniForOnlineListAction!examFastIndexUserMoni.action,
				/mainPageEx/stlistForMainExListAction!stlist.action,
				/baseinfo/baseSignIn/querySignInForBaseSignInListAction!querySignIn.action,
				/baseinfo/baseSignIn/saveForBaseSignInFormAction!save.action,
				/modules/power/User.js,
				/modules/hnjtamis/base/examreview/ExamReview.js,
				/modules/hnjtamis/jobstandardEx/QuarterStandard.js,
				/modules/organization/Employee.js,
				/modules/hnjtamis/exampaper/Exampaper.js,
				/modules/hnjtamis/query/EmpThemeBankQuery.js</param-value>
		</init-param>
  </filter>
  <filter-mapping>
		<filter-name>popdemFilter</filter-name>
		<url-pattern>*.action</url-pattern>
  </filter-mapping>
  <filter-mapping>
		<filter-name>popdemFilter</filter-name>
		<url-pattern>*.js</url-pattern>
  </filter-mapping>
  <!-- 
  <filter-mapping>
		<filter-name>popdemFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  -->
  <!--hibernate的session打开和关闭的过滤器-->
  <filter>
		<filter-name>hibernateFilter</filter-name>
		<filter-class>
			org.springframework.orm.hibernate4.support.OpenSessionInViewFilter
		</filter-class>
		<init-param>
			<param-name>singleSession</param-name>
			<param-value>true</param-value>
		</init-param>
  </filter>
  <filter-mapping>
		<filter-name>hibernateFilter</filter-name>
		<url-pattern>/*</url-pattern>
  </filter-mapping>
  <!-- struts2过滤器配置 -->
  <filter>
     <filter-name>struts</filter-name>
     <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
     <init-param>
         <param-name>configProviders</param-name>
         <param-value>cn.com.ite.eap2.core.struts2.CutomConfigurationProvider</param-value>
     </init-param>
  </filter>
  <filter-mapping>
     <filter-name>struts</filter-name>
     <url-pattern>/*</url-pattern>
  </filter-mapping>
   <welcome-file-list>
	 <welcome-file>main.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
     <session-timeout>180</session-timeout>
  </session-config>
</web-app>