<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">
		<bean id="AppListAction" class="cn.com.ite.eap2.module.funres.app.AppListAction" scope="prototype" >
		    <property name="service" ref="appServer" />
		</bean>
		<bean id="AppFormAction" class="cn.com.ite.eap2.module.funres.app.AppFormAction" scope="prototype" >
		    <property name="service" ref="appServer" />
		</bean>
		<bean id="appServer" class="cn.com.ite.eap2.module.funres.app.AppServiceImpl" scope="prototype">
		    <property name="dao" ref="appDao" />
		</bean>
		<bean id="appDao" class="cn.com.ite.eap2.core.hibernate.HibernateDefaultDAOImpl" scope="prototype">
		    <property name="template" ref="template" />
		    <property name="pagingHandler" ref="oraclePagingHandler"/>
		    <property name="entityClass" value="cn.com.ite.eap2.domain.funres.AppSystem"/>
		    <property name="hqlMap">
		        <map>
		            <entry key="queryHql">
		            <value>
		            <![CDATA[
		            select distinct b from ModuleResource a right join a.appModule.appSystem b where (:userId='admin'
		                  or exists (select x.userId from SysUser x join x.sysMangers y where y.appId=b.appId and x.userId=:userId)
		                 ) and b.appName like '%'||:nameTerm||'%'
		            ]]></value>
		            </entry>
		            <entry key="queryAllHql">
		            <value>
		            <![CDATA[
		            from AppSystem b order by b.orderNo
		            ]]></value>
		            </entry>
		        </map>
		    </property>
		</bean>
</beans>